// Mobile
$breakpoint-mobile: 360px;
$breakpoint-mobile-md: 480px;

// Tablet
$breakpoint-tablet-sm: 576px;
$breakpoint-tablet: 768px;

// Desktop
$breakpoint-desktop-sm: 992px;
$breakpoint-desktop: 1200px;
$breakpoint-desktop-lg: 1400px;
