$color-primary: #0c3370;
$color-secondary: #692595;
$color-azul-royal: #1452b5;
$color-light: #ffffff;
$bg-highlight: #071d40;
$color-primary: #0c3370;
$color-secondary: #692595;
$color-azul-royal: #1452b5;
$color-light: #ffffff;
$color-grey: #cccccc;
$bg-highlight: #071d40;
$verde-loud: #159a8e;
